<a href="https://colab.research.google.com/github/Keithleene/CPEN-21A-ECE-2-1/blob/main/Demo01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python Programmming

In [8]:
#Python Indention
if 5>2:
   print("Five is greater than two")

Five is greater than two

In [9]:
##Python Variable:

In [10]:
x=1
a, b=0, 1
a,b,c= "zero","one","two"
print(x)
print(a)
print(b)
print(c)

1
zero
one
two

In [11]:
d = "Kilyn" #This is a string
D = "keithy"
print(d)
e="kitty"
print(e)
print(D)

Kilyn
kitty
keithy

In [12]:
print(type(d)) #This is a type function
print(type(x))

<class 'str'>
<class 'int'>

# Casting

In [13]:
f = float(4)
print(f)
g = float(5)
g = int(5)

4.0

#Multiple Variables with One Value

In [14]:
x=y=z= "four"
print(x)
print(y)
print(z)

four
four
four

In [15]:
x = "enjoying"
print("Python Programming is" " " + x)

Python Programming is enjoying

#Operations in Python

In [16]:
x = 5
y = 7
x += y #This is the same as x = x + y
print(x+y)
print(x*y)
print(x)

19
84
12

In [17]:
x = 5
y = 7

not(x>y or y==x)

True

In [18]:
x = 5
y = 7

not(x>y or y==x)

True

In [19]:
x is y

False

In [20]:
x is not y

True