<a href="https://colab.research.google.com/github/Keithleene/CPEN-21A-ECE-2-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [3]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The breaksStatement

In [4]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [6]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a string

In [8]:
for x in "Python Programming":
 print(x)

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

The range function

In [10]:
for x in range(16):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [11]:
for x in range(2, 16):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15

Nested loops

In [12]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [14]:
i=1
while i<=6:
  print(i)
  i+=1 #Assignment operator for addition

1
2
3
4
5
6

The break statement

In [16]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

The continue statement

In [27]:
i=0
while i<6:
  i+=1 #Assignement operator for addition
  if i==3:
    continue
  print(i)

1
2
4
5
6

The else statement

In [26]:
i=1
while i<=6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
6
i is no longer less than 6

Application 1

In [46]:
#Create a Python program that displays Hello 0 to Hello 10 in vertical statement

Hello = ["Hello"]
num = ["0","1","2","3","4","5","6","7","8","9","10"]
#For loop
for x in Hello:
  for y in num:
    print(x,y)

#While Loop
i=0
while i<=10:
 print("Hello", i)
 i+=1 #Assignment operator increment
else:
   print("i is no longer less than 10")

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
i is no longer less than 10

In [47]:
#Create a Python program that displays integers less than 10 but not less than 3
i=3
while i<10:
  print(i)
  i+=1 #Assignment operator increment 1
else:
  print("i is no longer less than 10")

3
4
5
6
7
8
9
i is no longer less than 10